{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 10,
    "sourceType": "module"
  },
  "env": {
    "node": true
  },
  "rules": {
    "space-infix-ops": "error",
    "quotes": [
      "error",
      "double"
    ],
    "no-shadow": "error"
  }
}